<!DOCTYPE html>
<html lang="es" xmlns:th="http://thymeleaf.com">
    <head>
        <title>Inicio</title>
        <meta charset="UTF-8">
        </head>
        <body>
            <h1>hola mundo</h1>
            <p th:text="${mensaje}">
            <p th:text="${saludando}">
                
                <p/>
                
                <p>Nombre: <span th:text="${persona.nombre}">Nombre persona</span></p>
                <p>Apellido: <span th:text="${persona.apellido}">Nombre persona</span></p>
                <p>Email: <span th:text="${persona.email}">Nombre persona</span></p>
                <p>Tel: <span th:text="${persona.cell}">Nombre persona</span></p>
                
                
        </body>
    </html>