<!DOCTYPE html>
<html lang="es" xmlns="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello!</title>
</head>
<body>
    <h1>Hi</h1>
    <p th:text="${msj}"></p>
    <br/>
    <p>Name:  <span th:text="${persona.name}">Display Name</span></p>
    <p>Last Name: <span th:text="${persona.last_name}">Display Last Name</span></p>
    <p>Email: <span th:text="${persona.email}">Display Email</span></p>
    <p>Cellphone: <span th:text="${persona.phone}">Display Cellphone</span></p>
</body>
</html>